---
import BenefitsSection from '../components/BenefitsSection.astro';
import CareersSection from '../components/CareersSection.astro';
import FinalCtaSection from '../components/FinalCtaSection.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
import MetricsSection from '../components/MetricsSection.astro';
import Navbar from '../components/Navbar.astro';
import ServicesSection from '../components/ServicesSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import TrustSection from '../components/TrustSection.astro';
import ValueStrip from '../components/ValueStrip.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Transporte refrigerado en Mexico | ATRT"
  description="Transporte refrigerado para empresas con monitoreo, puntualidad, seguridad en ruta y atencion personalizada. Conoce los servicios de ATRT."
>
  <main>
    <Navbar />
    <HeroSection />
    <ValueStrip />
    <ServicesSection />
    <BenefitsSection />
    <MetricsSection />
    <TrustSection />
    <TestimonialsSection />
    <CareersSection />
    <FinalCtaSection />
    <Footer />
  </main>
</Layout>
